/* GLOBALS */




/* TILES */

.Tile {
	/*-fx-background-color: #888888;*/
	-fx-fill: #bbbbbb;
	
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
	
}

/* FLOORS */

.Floor {
	/*-fx-fill: #ffffff;*/
	/*-fx-stroke: #000000;*/
}

/* WALLS */

.Wall {
	-fx-stroke: #747474;
}

.Door {
	-fx-stroke: #714b26;
}